<.header>
  New Profession
  <:subtitle>Use this form to manage profession records in your database.</:subtitle>
</.header>

<.profession_form changeset={@changeset} action={~p"/professions"} />

<.back navigate={~p"/professions"}>Back to professions</.back>
