<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:category_name]} type="text" label="Category name" />
  <:actions>
    <.button>Save Profession</.button>
  </:actions>
</.simple_form>
