<.header>
  Edit Candidate <%= @candidate.id %>
  <:subtitle>Use this form to manage candidate records in your database.</:subtitle>
</.header>

<.candidate_form changeset={@changeset} action={~p"/candidates/#{@candidate}"} />

<.back navigate={~p"/candidates"}>Back to candidates</.back>
